<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="/js/lib/bs/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/common.css" />
	</head>

	<body>
		<div class="container-fluid">
			<%- include('../head'); %>
			<div class="row">
				<h2><%- errormsg%></h2>
			</div>
			<%- include('../foot'); %>
		</div>
		<script type="text/javascript" src="/js/lib/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/lib/bs/js/bootstrap.min.js"></script>
	</body>

</html>