<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="/js/lib/bs/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>

	<body>
		<div class="container-fluid detail-cnt">
			<%- include('head'); %>
			<%- content %>
		</div>
		<script type="text/javascript" src="/js/lib/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/lib/bs/js/bootstrap.min.js"></script>
	</body>

</html>